:root{
  --default-padding: 1% 5%;

  --dark-bg-color: #212529;
  --dark-text-color: #f8f9fa;

  --light-bg-color: #f8f9fa;
  --light-text-color: #212539;

  --blue:#7462E1;
  --yellow:#FCDA68;

}

body.light{
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

.light .nav-item button{
  color: var(--light-text-color);
}

.light .theme-button{
  color: var(--light-text-color);
}

.light .theme-button .moon{
  transform:  translateX(-50%) translateY(-50%) scale(1);
}

.light .theme-button .sun{
  transform: translateX(-50%) translateY(-50%) scale(0);
}

.light .arrow-bg{
  fill: var(--light-text-color);
}

.light #footer{
  color: var(--light-text-color);
}

.light input.name,
.light input.email,
.light textarea.message{
  background: #c0c2c4;
}

.light .submit-button, .light .resume-button button{
  background: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.light .resume-button button:hover{
  color: var(--dark-text-color);
}

.light .social a{
  background: #c0c2c4;
  box-shadow: 6px 10px 12px var(--dark-bg-color);
}

.light .social a:hover{
  background: #f8f9fa;
  box-shadow: 9px 12px 24px var(--dark-bg-color);
  
}

.light .social i {
  color: #6f6f6f;
}

.light .project::after{
  background-color: var(--light-bg-color);
}

/* ____________________________________________________________________________________________________ */



@media screen and (max-width:768px){
  .light .nav-item{
    background: var(--light-bg-color);
    color: var(--light-text-color);
  }
}



body.light > section > svg > symbol#godown > g#go-down-arrow > g#arrow-1{
  fill: var(--light-text-color);
}