/* typical break points are
768px, 992px, 1200px */

/* colors used in the css
#F0F8FF; #1E90FF; #ADD8E6; #84888c; #545759; #00ffff; #8a2be2; #ffffff; #ff0000; #004cff; #4267B2; #fed373; #f15245; #d92e7f; #9b36b7; #515ecf; #1DA1F2; #25D366; #0077b5; #333333
*/

/* When a new class or id added, add the path in comment */


:root{
  --default-padding: 0 5%;

  --dark-bg-color: #212529;
  --dark-text-color: #f8f9fa;

  --light-bg-color: #f8f9fa;
  --light--text-color: #212539;

  --blue:#7462E1;
  --yellow:#FCDA68;

}


/* applies upto the limit  */
/* max-width have to be ordered from largest to smallest to work properly */
/* __________________________________________________________________________________________________ */

@media screen and (max-width:768px){
  .nav-item{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
    transition: all 0.3s linear;
  }
  
  .theme-button{
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.3s linear;
  }
  
  .nav-item.open-navbar{
    left: 0%;
    z-index: 1;
  }
  
  .theme-button.open-navbar{
    top: 30%;
    left: 10%;
    z-index: 1;
  }

  .main-stream{
    left: 10%;
  }

  .details:nth-child(n){
    width: 100%;
    text-align: left;
  }
  .details:nth-child(n) .stream{
    left: 5%;
    background-image: linear-gradient(to left, transparent, #FFE87C  80%);
  }

  .details:nth-child(n) .institute-details{
    left: 50%;
    right: 0;
    padding: 0 0 0 34px;
  }



}


/* applies exceeding the limits */
/* min-width have to be ordered from smallest to largest to work properly */
/* __________________________________________________________________________________________________ */
@media screen and (min-width:768px){
  .hamburger{
    display: none;
  }

}


