:root{
  --default-padding: 0 5%;

  --dark-bg-color: #212529;
  --dark-text-color: #f8f9fa;

  --light-bg-color: #f8f9fa;
  --light--text-color: #212539;

  --blue:#7462E1;
  --yellow:#FCDA68;

}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

body{
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  /* overflow-x: hidden; */
  transition: all 0.3s linear;
  /* overflow: visible !important; */
}


/* ___________________________________________header section___________________________________________ */
header{
  position: relative;
}

section{
  padding: var(--default-padding);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo svg{
  width: 100px;
  height: 50px;
}

.nav-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item div{
  margin: 0 20px;
}

.nav-item button{
  font-size: 18px;
  padding: 0 8px;
  border: 0;
  background: transparent;
  color: var(--dark-text-color);
  transition: all 0.3s linear;
}

.theme-button{
  position: relative;
  font-size: 26px;
  background: transparent;
  border: none;
  color: #FFE87C;
  transition: all 0.3s linear;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.theme-button i{
  position: absolute;
  top: 50%;
  left: 50%;
}

.theme-button .moon{
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition: all 0.3s linear;
}

.theme-button .sun{
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: all 0.3s linear;
}

.hamburger{
  position: relative;
  background: transparent;
  border: none;
  z-index: 1;
}
.hamburger img{
  width: 40px;
  height: auto;
}


/* ___________________________________________content section___________________________________________ */
.education{
  --color: #f8f9fa;

  position: relative;
  background: var(--blue);
  color: var(--color);
}

.education::before {
  content: '';
  position: absolute;
  background: var(--blue);
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  transform: skewY(-3deg);
  transform-origin: left;
  z-index: -1;
}

.education-details{
  padding: 20% 0;
}

.details:nth-child(odd){
  position: relative;
  text-align: left;
  width: 50%;
  height: 12rem;
  margin-left: auto;
}

.details:nth-child(even){
  position: relative;
  text-align: right;
  width: 50%;
  height: 12rem;
  margin-right: auto;
}

.details:nth-child(odd) .stream{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  width: 50%;
  height: 10px;
  background-image: linear-gradient(to right, #FFE87C , transparent 80%);
}

.details:nth-child(even) .stream{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  width: 50%;
  height: 10px;
  background-image: linear-gradient(to left, #FFE87C , transparent 80%);
}

.details:nth-child(odd) .institute-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  padding: 0 0 0 34px;
}

.details:nth-child(even) .institute-details {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
  padding: 0 34px 0 0;
}

.institute-name{
  font-size: 2rem;
  padding: 0 0 28px 0;
}

.passing-year{
  font-size: 1.3rem;
}

.marks{
  font-size: 1.6rem;
}

.main-stream{
  position: absolute;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: linear-gradient(to bottom, transparent, #FFE87C 20% , #FFE87C 80%, transparent);
}

#project{
  position: relative;
  /* height: 500px; */
  background: #FCDA68;
}

#project::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 270px;
  background: var(--blue);
  clip-path: path('M0,96L60,128C120,160,240,224,360,229.3C480,235,600,181,720,176C840,171,960,213,1080,202.7C1200,192,1320,128,1380,96L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z');
  transform: rotate(180deg) scaleX(1.5);
}

.project-details{
  padding: 10% 0 0;
  text-align: center;
  color: #7462E1;
  font-size: 2rem;
}

.projet-template{
  padding: 8% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.template{
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  background-color: #212529;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  /* opacity: 0.8; */
  box-shadow: 10px 10px 10px #7462E1;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s linear
}

/* .template:hover{
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 15px 15px 15px #7462e1;
} */

.template-1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url('../images/project-template-1.jpg');
  background-size: cover
}
.template-2::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url('../images/project-template-2.jpg');
  background-size: cover
}
.template-3::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url('../images/project-template-3.jpg');
  background-size: cover
}

.template-hover-effect{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(50%);
  width: 100%;
  height: 100%;
  padding: 5px 8px;
  background: #21252977;
  transition: all 0.3s linear;
}

.template:hover .template-hover-effect{
  transform: translateY(0%);
}

.template button{
  position: relative;
  padding: 10px 14px;
  margin-bottom: 30px;
  background: #7462E1;
  color: var(--dark-text-color);
  font-size: 18px;
  border: none;
  border-radius: 10px;
  z-index: 1;
}




/* ___________________________________________footer section___________________________________________ */