@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 18 19 11;
    --background: 251 251 249;
    --primary: 76 81 56;
    --secondary: 247 125 106;
    --accent: 156 29 220;
    --footer: 221 221 221;
  }

  :root.dark {
    --text: 241 243 234;
    --background: 7 7 4;
    --primary: 193 198 173;
    --footer: 30 30 30;
  }
}
