@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #12130b;
		--background: #fbfbf9;
		--primary: #4c5138;
		--secondary: #f77d6a;
		--accent: #9c1ddc;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--text: #f1f3ea;
			--background: #070704;
			--primary: #c1c6ad;
			--secondary: #f77d6a;
			--accent: #9c1ddc;
		}
	}
}
