$gap: 1rem;
$item-size: 50px;
$time: 80s;

.scroller {
	mask: linear-gradient(
		90deg,
		transparent,
		white 20%,
		white 80%,
		transparent
	);
	overflow: hidden;

	ul {
		display: flex;
		gap: 1rem;
		padding-block: $gap;
		width: max-content;

		li {
			max-width: $item-size;
		}
	}
}

.scroller[data-animate="true"] {
	ul {
		animation: scroll $time linear infinite;
	}
}

@keyframes scroll {
	to {
		transform: translateX(calc(-50% - calc($gap / 2)));
	}
}
