.skeleton {
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		// background: red;
		top: 0;
		right: 100%;
		mask: linear-gradient(
			90deg,
			transparent,
			white 60%,
			white 40%,
			transparent
		);
		animation: move linear 5000ms infinite;
		// transform: translateX(100%);
	}

	@keyframes move {
		0% {
			right: 100%;
			opacity: 1;
		}
		10% {
			right: -100%;
			opacity: 0;
		}
		100% {
			right: -100%;
			opacity: 0;
		}
	}
}
