.container {
  container-type: inline-size;
}

.theme {
  grid-area: theme;
}

.ratingInput {
  grid-area: rating-input;
}

.socialIcons {
  grid-area: social-icons;
}

.techStack {
  grid-area: tech-stack;
}

.ratingOutput {
  grid-area: rating-output;
}

.gridTemplateArea {
  grid-auto-columns: 1fr;
  grid-template-areas:
    "theme"
    "rating-input"
    "social-icons"
    "tech-stack"
    "rating-output";
}

@container (min-width: 500px) {
  .gridTemplateArea {
    grid-template-areas:
      "theme rating-input"
      "rating-output rating-input"
      "rating-output tech-stack"
      "rating-output tech-stack"
      "social-icons tech-stack"
      "social-icons tech-stack";
  }
}

@container (min-width: 1000px) {
  .gridTemplateArea {
    grid-template-areas:
      "theme tech-stack rating-output"
      "rating-input tech-stack rating-output"
      "social-icons tech-stack rating-output";
  }
}
