@media (min-width: 640px) {
	.nav {
		img {
			transition: all 150ms linear;
		}

		span {
			transform: translateX(0%);
			z-index: -1;
			transition: all 150ms linear;
		}

		.textSpace {
			transform: translateX(-100%);
			transition: all 150ms linear;
		}

		&:hover {
			span {
				transform: translateX(100%);
			}
			.textSpace {
				transform: translateX(0%);
			}
		}
	}
}
